.sidebar, .main {
  overflow-y: auto;
  height: 80%;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ccc;
  grid-area: sidenav;
  width: 250px;
  height: 100vh;
}

.main {
  background-color: #fff;
  padding: 1rem;
  grid-area: content;
}

.header {
  background-color: #f4f4f4;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  grid-area: navigation;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}